# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Platform-generated
android/.gradle/
android/local.properties
android/captures/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
test/.test_coverage.dart
